
body {
    background-color: #01C7D3;
}

.navbar-default{
    background-color: #F0B02F;
}

.jumbotron{
    background-color: #F0B02F;

}

.table{
    background-color: #FFF6E2;
}

.dropdown{
    background-color: #FFF6E2;
}

.dropdown-menu{
    background-color: #FFF6E2;
}

.panel-body{
    background-color: #FFF6E2
}

img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}
